
.body-container5 *{
    --colorprimary:#5e8e66;
}
.body-container5{
   max-width:   827px;
    margin: auto;
    border: solid 3px black;
}
:root{
    --red: red;
    --blue: blue;
    --green: green;
    --yellow: yellow;
    --orange: orange;
    --brown: brown;
}
.body-container5-red *{
    --primary-color: var(--red);
}
.body-container5-blue *{
    --primary-color: var(--blue);
}
.body-container5-green *{
    --primary-color: var(--green);
}
.body-container5-yellow *{
    --primary-color: var(--yellow);
}
.body-container5-orange *{
    --primary-color: var(--orange);
}
.body-container5-brown *{
    --primary-color: var(--brown);
}

.body-container5 input{
    border: none;
    /* outline: none; */
    color: inherit;
    font-size: inherit;
    background-color: transparent;
}
.theme-selector-list5{
    height: 50px;
    display: flex;
    justify-content: center;
    
    
}
.theme-selection{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.theme-selection-red{
    background-color: var(--red);
    
}
.theme-selection-blue{
    background-color: var(--blue);
}

.theme-selection-green{
    background-color: var(--green);
}

.theme-selection-yellow{
    background-color: var(--yellow);
}

.theme-selection-orange{
    background-color: var(--orange);
}

.theme-selection-brown{
    background-color: var(--brown);
}



.body-container5 textarea{
    width: 100%;
    resize: none;
    overflow: hidden;
    border: none;
    background:none
}

header{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 15px 20px;
}
.name{
    
    font-size: 2.25em;
    font-weight: bold;
    color: var( --primary-color);   
}
.designation{
    font-size: 1.2rem;
    padding-top: 8px;
}
.address-section{
    padding-top: 0;
    padding-bottom: 0;
    font-size:  .625em;
    line-height: 185%;
    color:#5e8e66
}
.about{
    color:#5e8e66;
    background-color: rgb(240 240 240);
    padding: 10px 20px 15px 20px;
}
.more-about{
    display: grid;
    grid-template-columns: auto 1fr;
}
.left-section{
    background-color: var( --primary-color);
    color: white;
    padding: 0px;
}
.education{
    padding: 10px 20px ;
}
.edu-college{
    font-size: 16px;
}
.coll-description{
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;
}
.skill-section{
    border: solid  2px white;
    border-left: none;
    border-right: none; 
    padding-left: 20px; 
    padding-right: 20px;
}
.list-orient {
    padding: 0 15px;
    font-size: 14px;

}
.right-section{
    display: grid;
    padding: 10px;
    padding-left: 30px;
}
.right-side-section{
    display: grid;
    grid-template-columns: auto 1fr;
    
}
.exp-brief{
    padding-left: 20px;
    margin-top: 0;
}
.exp-brief > h3{
    margin-top: 0;
    font-weight: normal;
}
.exp-list{
    margin-top: 0;
    padding-left: 13px;
}
.right-section > h3{
    color: var( --primary-color);
}

li::before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: black;
    display: block;
    position: absolute;
    border-radius: 50%;
    left: -15px;
    top: 12px;
}
li{
    position: relative;
    list-style: none;
}
