.favor_head{
    text-align: center;
    font-size: 30px;
    color: #4b4b4b;
    padding-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #808080d1;
    height: 100%;
}
.close_container{
    position: relative;
}

.close_button{
    width: 30px;
    color: red;
    cursor: pointer;
    height: 30px;
    font-weight: bold;
    background-color:white;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    right: 0;
    
    
    

}