.header_home{
    display: grid;
    grid-auto-flow: column;
   
    background-color: orangered;
   color: white;
   height: 70px;
   padding: 20px; 
   font-size: 20px;
    cursor: pointer;
}
.home_icon{
    width: 40px;
    
}

