body,html,#root,.home-container,.home-description-image-section{
    height:100%;
}
.header_home{
    display: grid;
    grid-auto-flow: column;
   
    background-color: orangered;
   color: white;
   height: 70px;
   padding: 20px; 
   font-size: 20px;
    cursor: pointer;
}
.home_icon{
    width: 40px;
    
}
.home-heading, .home-description-section{
    color:white;
    padding:10px;
}
.home-description-image-section{
    background-image: url("https://its.unc.edu/files/2020/03/laptop-on-coffee-table.jpeg");
    background-repeat: no-repeat;
}

