body,html,#root,.home-container,.home-description-image-section,.mainContainer_home{
    height:100%;
   
}
.header_home{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    background-color: black;
    color: white;
    height: 70px;
    padding: 20px; 
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.home_icon{
    width: 40px;
    
}
.home-heading, .home-description-section{
    color:white;
    padding:10px;
}
.home-description-image-section{
    background-image: url("https://its.unc.edu/files/2020/03/laptop-on-coffee-table.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.demos{
    margin: auto;
    
    width: 100%;
    border-radius: 25px;
    box-shadow: 6px 2px 11px 1px #4b4b4b5e;
    cursor: pointer;
    
   
}
.demo_home{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 20px;
}
.home-heading{
    padding-top: 80px;
    text-align: center;
}
.home-description-section{
    text-align: center;
    padding-bottom: 10px;
}
.select-sort{
    background: transparent;
    border-radius: 10px;
    border: solid 5px black;
    color: white;
    width: 25%;
    /* margin-left: 25%; */
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.home-option{
    background-color: black
     
}
.body-container {
    overflow:auto;
    padding-top:70px;
    height:100%;
}
.home-sort-section{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}
.demo_images{
    transition: transform 0.2s ease-in-out;
}
.demo_images:hover{
    transform:scale(1.09) ;
} 
.demo_images{
    position: relative;
}
.like_button{
    position: absolute;
    transform: translate(50%);
    right: 20px;
    height: 20px;
    width: 20px;
    
}
.burger_button{
    width: 20px;
    display: none;
}
.vertical-header{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    background-color: black;    
    display: none;
    padding: 20px;
}

.vertical-header div{
    padding: 10px 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}

.display-user-id:hover .dropdown-content {
  display: block;
}
@media screen and (max-width:630px){
    .demo_home{
        
        grid-template-columns: repeat(3,1fr);
       
    }
}
@media screen and (max-width: 580px){
    .header_home{
        font-size: 15px;
        height: 50px;
    }    
    .select-sort{
       
        border-radius: 8px;
        border: solid 1px black;
        
        width: 25%;
       
        padding: 3px;
        font-size: 15px;
        
    } 
    .home_icon{
        width: 30px;
        
    }
    .home-heading{
        padding-top: 60px;
        font-size: 30px;
        
    }
    .body-container {
        
        padding-top:10px;
        
    }
    .demos{
        
       
        border-radius: 15px;
      
        
       
    }
    .demo_home{
        
        grid-template-columns: repeat(2,1fr);
       
    }
    


}
@media screen and (max-width: 555px){
    .header_home{
        font-size: 10px;
        height: 50px;
    }    
    .select-sort{
       
        border-radius: 8px;
        border: solid 1px black;
        
        width: 25%;
       
        padding: 0;
        font-size: 10px;
        padding: 5px 0 5px 0;
        
    }

    .home_icon{
        width: 20px;
       ;
        
    }
    .home-heading{
        padding-top: 35px;
     
    } 
    .demo_home{
        
        grid-template-columns: repeat(1,1fr);
       
    }

}
@media screen and (max-width:435px){
    .header_home{
        font-size: 16px;
        
    }
    .burger_button{
        
        display: block;
    }
    .displaybar{
        display: none;
    }
    .header_home{
        display: grid;
        justify-content: space-between;
    }
    .vertical-header{
      display: block;
    }
}
