.login-container{
    height: 100%;
    padding: 0 150px;
    display: grid;
    place-items: center; 
    /* background-color: #d8deec; */
    background-image: linear-gradient(to right, #f4f2f200,rgb(115 113 176)); 
}
.login-card{
    padding:50px;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;  
    background-image: url('../assets/background/Asset 1.svg');
    background-size: cover;
    background-position: 22%;
    position: relative;
}
.login-heading{
    font-size: 35px;
    font-weight: 700;
    color:#9a2fa0;
}
.login-form{
    padding-top: 35px;
    
}
.input-area{
    margin-top: 30px;
    position: relative;
}
.label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    left: 8px;
    background:none;
    color: #bf8df7;
}
.sign-up-login-input{
    width:100%;
    max-width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: none;
    background:#5f5e5e61;
    border-radius:10px;
    color: #9b9191;
}
.login-input:focus~.label,.filled-label{
    top:0;
    font-size: 14px;
}
.login-button-section{
    display: flex;
    margin-top: 20px;
    color: white;
    max-width: 400px;
    align-items: center;
    justify-content: space-between;
}
.password-header{
    cursor: pointer;
}
.login-button{
    background-color:#9a2fa0;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    color: white;
    width: 100px;
    cursor: pointer;
}
.text-field-error-text{
    color:#fd2d2d ;
    padding-left:8px ;
}
.sign-up-page-link{
    color: white;
    padding-top: 10px;
}
.sign-up-link{
    color:#9a2fa0;
    cursor: pointer;
    text-decoration: none;
    
}
@media screen and (max-width:416px){
    .login-container{
        padding: 10px;
    }
    
}
@media screen and (max-width:583px){
    .login-card{
        padding:50px 10px;
    }
    
}
.forget-password-section{
    position: absolute;
    background-image: url('../assets/background/Asset 1.svg');
    background-size: cover;
    top:0;
    left:0;
    max-width: 800px;
    width: 100%;
    height: 100%;
}
.forget-password-form{
    padding: 50px 70px;
}

