.sign-up-container{
    height: 100%;
    padding: 0 250px;
    display: grid;
    background-image: linear-gradient(to right, #f4f2f200, rgb(115 113 176));
    align-items: center;
}
.card-container{
    
    padding: 50px;
    border-radius: 25px;
    background-image: url("../assets/background/Asset\ 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
}
.signup{
    font-size: 35px;
    font-weight: 700;
    color: #9a2fa0;
}
.sign-up-form{
    padding-top: 40px;
}
.input-area{
    position: relative;
    margin-top: 30px;
}
.label{
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    
    transition: .5s ease-in-out;
    color:#bf8df7
}
.input-area :focus ~ .label,.filled-label{
    top:0;
    font-size :14px;
    left: 5px;
}
.sign-up-login-input{
    max-width: 400px;
    width: 100%;
    height: 40px;
    background: #5f5e5e61;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}
.sign-up-button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(154 47 160);
    margin-left: auto;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.text-field-error-text{
    color: #fd2d2d;
    padding-left: 7px;
}
.excisting-user{
    color:white;
}
.signup-button{
    display: flex;
    max-width: 400px;
}
.link-to-login{
    text-decoration: none;
    color: #2dea0b;
}
