.working-container3{
    padding: 20px;
    background: rgba(255, 255, 255, 0.123);
    height: 100%;
    position: relative;
    

}
.working-container3::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("https://netstorage-legit.akamaized.net/images/6332ee25eeed942d.jpg?imwidth=900");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
    
}
.working-pagehead3{
    text-align: center;
    
    
}

.main-title3{
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
  
  
}
.main-title-description-3{
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
  
}
.procedure-title-3{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.step-title-3{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
}