
.main-section-3{
display: grid;
grid-template-columns:  2.5fr 1.5fr;
max-width: 827px;
margin: auto;
border:2px solid brown;
}
.main-section-3  input{
    padding: 0;
    border: none;
}
 /* .theme-selectors-lists3{
    display: grid;
    grid-auto-flow: column;
    height: 25px;
    cursor: pointer;
}

.theme-selectors3-darkcyan{
    background-color: var(--darkcyan);
}
.theme-selectors3-indigo{
    background-color: var(--indigo);
}
.theme-selectors3-blue{
    background-color: var(--blue);
}
.theme-selectors3-green{
    background-color: var(--green);
}
.theme-selectors3-red{
    background-color: var(--red);
}
.theme-selectors3-gray{
    background-color: var(--gray);
}
.theme-selectors3-brown{
    background-color: var(--brown);
} */
 
.main-section-3-darkcyan *{
    --primary-color3:var(--darkcyan);
}    
 .main-section-3-violet *{
    --primary-color3:var(--violet);
}.main-section-3-indigo *{
    --primary-color3:var(--indigo);
}
.main-section-3-blue *{
    --primary-color3:var(--blue);
}
.main-section-3-green *{
    --primary-color3:var(--green);
}
.main-section-3-red *{
    --primary-color3:var(--red);
}
.main-section-3-gray *{
    --primary-color3:var(--gray);
}
.main-section-3-brown *{
    --primary-color3:var(--brown);
}


.left-section-3{
    padding: 30px;
}
.left-section-name-3{
    font-weight: bold;
    font-size:70px;
}
.left-section-name-3 input{ 
     font-size: 35px;
     font-weight: bold;
  
}

.position-header-3{
    font-size: 30px;
    padding: 10px;
    padding-bottom: 15px;
}
.left-header-3{
    font-size: 20px;
    background-color: grey;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    font-family:serif;
}
.left-section-workexp-3{
    font-size: 20px;
    background-color: grey;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.contact-description-3 img{
    width: 16px;
    margin-right: 10px;

}
.job-header-3{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
} 
.job-header-3 input{
    font-size: 18px;
    font-weight: bold;
   
}
.company-name-header1-3{
    padding-bottom: 10px;
    display:flex;

}
.company-name-header2-3{
    padding-bottom: 10px;
}
 .company-names-3 input{
    font-size: 15px;
    font-weight: bold;

}

.right-section-3{
    padding: 30px;
    background-color: var(--primary-color3);
    color: white;
    

}
.right-section-3 input{
     color:white; 
     background-color: transparent;
     border: none;
   

    
}
.profilepic-3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 2px solid white;
    object-fit: cover;
    object-position: top;
}
.contact-description-3 {
    padding-top: 15px;
    /* padding-bottom: 15px; */
    color: white;
} 


.contact-head-3{
    background-color: white;
    padding: 10px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
.skill-header-3{
font-weight: bold;
font-size: 20px;
background-color: white;
padding:10px;
margin-bottom: 15px;
margin-top: 15px;
color: black;

}
.education-header-3{
background-color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
}    
.li-colors-3::before{
    background-color:white;
}
ul{
    
   
    font-size: 15px;

}
.education-qualification-3{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
   
} 
/* .education-discription-3 input{
    font-weight: bold;
}  */

.closebuttons-3{
    background-color: red;
    margin-left: auto;
    color:white;
    border: none;
    padding: 3px;
    width: 20px;
    height: 20px;
  
}
.profile-image-container-3{
    width:150px;
    margin: auto;
    position: relative;
}
.change-image-button-3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
    cursor: pointer;
}