
.body-wrapper *{
    margin:0;
    box-sizing: border-box;
    padding:0;
    border: none;
}
.theme-selector-list-1{
    display:grid;
    grid-auto-flow: column;
    margin-bottom:2px;
    height:50px;
    gap:2px;
    cursor:pointer;
}
:root{
    --blue:lightgrey;
    --white:white;
    --turquoise:turquoise;
    --violet:violet;
    --brown:brown;
    --green:rgb(66, 238, 80);
}


.body-wrapper{
    display:grid;
    grid-template-columns: 1.5fr 3fr;
    width: 100%;
    height:100%;
    box-shadow:lightgrey 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:solid 2px black;
    color:var(--page-text-color);
}

.body-wrapper-blue *{
    --left-page-color:var(--blue);
}
.body-wrapper-turquoise *{
    --left-page-color:var(--turquoise);
}
.body-wrapper-violet *{
    --left-page-color:var(--violet);
    
}
.body-wrapper-brown *{
    --left-page-color:var(--brown);
    --left-page-text-color:white;
}
.body-wrapper-green *{
    --left-page-color:var(--green);
}

.theme-selector-11-blue{
    background-color: var(--blue);
}

.theme-selector-11-turquoise{
    background-color: var(--turquoise);
}
.theme-selector-11-violet{
    background-color: var(--violet);
}
.theme-selector-11-brown{
    background-color: var(--brown);
}
.theme-selector-11-green{
    background-color: var(--green);
}




.body-wrapper input,textarea{
    outline: none;
    border:none;
}
/* body{
    margin:auto;
    max-width:850px;
   
} */
.title-name{
    /* width: 37ch; */
    margin:10px;
    font-size: 30px;
    font-weight: bold;
}
.job1{
    font-size: 12px;
}
textarea{
    resize: none;
    width:100%;
    overflow:hidden;
    outline:none;
    background: transparent;
    font-size:17px;
}
/* input{
    background: transparent;
} */
.left-page-inner{
    padding:20px;
    background-color:var(--left-page-color);
    box-shadow:grey 5px;
    padding-top: 50px;
}

.left-page-inner *{
    color: var(--left-page-text-color);    

}


.add-button{
    background-color: green;
    color:white;
    margin:10px;
    display: flex;
    margin-left: auto;
    padding: 7px;
}
.delete-button{
    background-color: red;
    color:white;
    display: flex;
    margin-right: 10px;
    margin-left: auto;
    padding:5px
}
.right-page-inner{
    padding-left: 5px;
    margin-top:20px;
    padding:15px;
}
.textfield{
    resize:none;
    outline:none;
    width:100%;
}
li{
    position:relative;
    list-style: none;
}
.second-head-wrapper1{
    
    /* padding-top:5px; */
    margin:5px;
    gap: 5px;
}
.second-head-1 {
    font-weight: bold;   
} 
.second-head-1 input{
    font-size: 18px;
    font-weight: bold;
}
.second-head-des-1{
    padding-top: 7px;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 100%;
}
.second-small-head-1{
    display:flex;
}

li::before{
    content:"";
    width:8px;
    height:8px;
    background-color:black;
    display: block;
    position: absolute;
    left:-15px;
    top:12px;
}
.job1 .experience1{
    margin:10px 0;
    padding:10px 20px;
}
.key-skills1{
    font-weight: bold;
    margin-top:5px;
    font-size: 20px;
    padding-bottom: 10px;
}
.address-section1{
    display: grid;
    padding-top: 20px;

}
.experience1{
    font-size: 25px;
}



/* .theme-selector-11{
    color:white;
}
.theme-selector-12{
    
    color:white;
}
.theme-selector-13{
   
    color:black;
}
.theme-selector-14{
  
    color:white;
}
.theme-selector-15{
  
    color:white;
} */