*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville",serif;
}
.main_body4{
    height: auto;
    width: 827px;
    padding: 20px;
    border: solid 1px black;
    margin: auto;
}
:root{
            --indigo4:indigo;
            --darkviolet4:darkviolet;
            --blue4:blue;
            --green4:green;
            --yellow4:yellow;
            --orange4:orange;
            --Red4:Red;
            --brown4:brown;
            --black4:black;
            
}
.main_body4-indigo4 *{
    --primary-color4:var(--indigo4);
}
.main_body4-darkviolet4 *{
    --primary-color4:var(--darkviolet4);
}
.main_body4-blue4 *{
    --primary-color4:var(--blue4);
}
.main_body4-green4 *{
    --primary-color4:var(--green4);
}
.main_body4-yellow4 *{
    --primary-color4:var(--yellow4);
}
.main_body4-orange4 *{
    --primary-color4:var(--orange4);
}
.main_body4-Red4 *{
    --primary-color4:var(--Red4);
}
.main_body4-brown4 *{
    --primary-color4:var(--brown4);
}
.main_body4-black4 *{
    --primary-color4:var(--black4);
}
.logo4{
    
    background-color: var(--primary-color4);
    border-radius: 50%;
    width: 5.25rem;
    height: 5.25rem;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: "Libre Baskerville",serif;
    font-weight: bold;
    font-size: 2em;
    

}
.header_section4{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
}
/* .logo4{
    margin: 20px;
} */
/* .namesection{
    display: grid;
} */
.name4{
    /* margin-top: 10px; */
    font-size: 2.25em;
    font-weight: bold;
    color: var(--primary-color4);
}

.job4{
    font-size: 1.25rem;
    color: black;
    /* padding-top: 5px; */
}
.des4{
   display: grid;
   justify-content: end;
}
.headerdescription4{
    /* margin-top: 10px; */
    /* padding-left: 20px; */
    display: grid;
    

}
.headerdescription4 input{
    
    color: var(--primary-color4);

}
.main_body4 input, textarea{
    border: none;
    /* outline: none; */

}
/* .main_body4 *{
    --primary-color4: #555;

} */
textarea{
    resize: none;
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    
     
}
.theme_selector_list4{
    height: 25px;
    display: grid;
    grid-auto-flow: column;
    cursor: pointer;
}

.theme_selector4-indigo4{
    background-color:var(--indigo4);
}
.theme_selector4-darkviolet4{
    background-color:var(--darkviolet4);
}
.theme_selector4-blue4{
    background-color:var(--blue4);
}
.theme_selector4-green4{
    background-color:var(--green4);
}
.theme_selector4-yellow4{
    background-color:var(--yellow4);
}
.theme_selector4-orange4{
    background-color:var(--orange4);
}
.theme_selector4-Red4{
    background-color:var(--Red4);
}
.theme_selector4-brown4{
    background-color:var(--brown4);
}
.theme_selector4-black4{
    background-color:var(--black4);
}

.firstdes4{
    padding:20px 0 ;
}
.firsthead4{
    
    font-size: 20px;
    color: var(--primary-color4);
    border-bottom: solid 1px var(--primary-color4);
    margin-bottom: 0.75rem;
    padding-bottom: 0.125rem;
    
}
.secondheadwrapper4{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
   
}
.headerdescription4{
   
    color: var(--primary-color4);
    font-size: 16px;


}
.secondhead4 input{
    font-size: 20px;
    font-weight: bold;
}
.secondsmallhead4{
    display: flex;
    align-items: center;
    padding-top: 5px;
    font-size: 12px;
    width: 100%;
    
}
ul{
padding-left: 20px;
}

/* .licolor::marker{
    color: #de8535;
} */
.licolor{
    color: black;
    padding-bottom: 10px;
    position: relative;
    list-style: none;
}
.licolor::before{
    content: "";
    width: 6px;
    height: 6px;
    background-color:var(--primary-color4) ;
    position: absolute;
    top: 12px;
    left: -15px;
    border-radius: 50%;
    display: block;
    
}
.new4 {
    
    display: flex;
    justify-content: end;
    
}
.new4 button{
    background-color: green;
    color: white;
}


.close4{
    background-color:red;
    color: white;
    margin-left: auto;
   
}
/* button{
    border: none;

} */
