.header-section-2{
    background-color: rgb(2, 46, 48);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
}
.resume-name2 input{
    font-size: 20px;
    color: white;
}
.resume-designation-2 input{
    color: brown;
    padding-bottom: 10px;
}
.detail-section-2{
    color: white;
}
.image-section-2 {
    margin: auto;
    position: relative; 
    padding-left: 30px;
}
.profile-image{
    width: 150px;
}
.change-image-button-2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
    cursor: pointer;
}
.nav-section-2{
    background-color: rgb(3, 3, 36);
    height: 40px;
}
.content-section-2{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-section-2 h3{
    color: tomato;
    border-bottom: 2px solid tomato;
    width:fit-content;
}
