*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",serif;  
}
:root{
    --blue:#5446d8;
    --gray:rgb(78, 75, 75);
    --red:rgb(138, 4, 4);
    --green:rgb(6, 167, 68);
    --brown:rgb(29, 20, 22);
    --yellow:rgb(154, 211, 22);
}
.resume-page2-blue *{
    --primary-color2:var(--blue);
}
.resume-page2-gray *{
    --primary-color2:var(--gray);
}
.resume-page2-red *{
    --primary-color2:var(--red);
}
.resume-page2-green *{
    --primary-color2:var(--green);
}
.resume-page2-brown *{
    --primary-color2:var(--brown);
}
.resume-page2-yellow *{
    --primary-color2:var(--yellow);
}
.theme-selector-2{
    display: grid;
    grid-auto-flow: column;
    height: 50px;
}
.theme-selector-2-blue{
    background-color: var(--blue);
}
.theme-selector-2-gray{
    background-color: var(--gray);
}
.theme-selector-2-red{
    background-color: var(--red);
}
.theme-selector-2-green{
    background-color: var(--green);
}
.theme-selector-2-brown{
    background-color: var(--brown);
}
.theme-selector-2-yellow{
    background-color: var(--yellow);
}
.resume-page2{
    --primary-color2:#58585b;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    max-width: 827px;
    margin: auto;
    border:1px solid black;
    color: #58585b;
    font-size: 0.9em;
}
.resume-page2 input,textarea{
    border: none;
    outline: none;
}
textarea{
    resize: none;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.left-section2{
    background-color: #f2f4f4;
    padding: 20px;
}
.header-part-section2{
    padding-top:50px ;
}
.logo-area2{
    background-color:var(--primary-color2) ;
    /* #58585b; */
    color: #fff;
    font-size: 2.25em ;
    border-radius: 50%;
    width:70px;
    height: 70px;
    display: grid;
    place-items: center;
}
.resume-name{
    font-size: 2.50em;
    padding: 10px 0;    
}
.header-part-address-section{
    line-height: 1.5;
    padding-top:15px;
    
}
.description-section{
    border-left:5px solid var(--primary-color2) ;
    margin: 30px 0 30px;
    padding-left: 10px;
}
.block-section ul{
    padding: 15px;
}
.template-block{
    padding-bottom: 10px;
}
.right-section{
    padding: 20px 0 20px 20px;
}
.heading-section{
    padding-bottom: 15px;
    line-height: 140%;
}
.sub-heading-section::before{
    content: "";
    width:5px;
    height: 5px;
    background-color: #58585b;
    position: absolute;
    position: relative;
    display: block;
    border-radius: 50%;
    left: -15px;
    top:13px;

}
.list-section{
    display: flex;
    padding: 0 10px;
    align-items: center;
    margin-bottom: 10px;
}
li{
    position: relative;
    list-style: none;
}
li::before{
    content: "";
    width:5px;
    height: 5px;
    background-color:#58585b ;
    position: absolute;
    display: block;
    border-radius: 50%;
    left: -15px;
    top:7px;
}
.close-button{
    padding: 5px;
}

.two-side-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 15px;
}
